<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>Kanban доска</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <!-- Main CSS -->
    <link href="css/biblioteka/style-12.css" rel="stylesheet">
    <link href="css/biblioteka/style-obshii.css" rel="stylesheet">
    <link href="css/biblioteka/style-57.css" rel="stylesheet">
    <link href="css/biblioteka/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
  </head>
    <body>
         <script>
            function setOnclick(a) {
            a.setAttribute("onclick","popupWin = window.open(this.href,'contacts','width=820px,height=700px,top=50,left=200px,toolbar=0, location=0, directories=0, menubar=0, scrollbars=0, resizable=0, status=0'); popupWin.focus(); return false");
            }

            function externalLinks() {
            var links = document.getElementsByTagName("a");
              for (i=0; i<links.length; i++) {
                if (links[i].getAttribute("href") && links[i].getAttribute("rel") == "external") {
                  setOnclick(links[i])
                }
              }
            }
            window.onload = externalLinks;
          </script>
          
        <div class="site-wrapper">

            <!--меню шапки -->
            <th:block th:include="/menu/menu_header"></th:block>  
            
            
            <div class="row obshi_cont">
                
                <!--Боковое меню-->    
                <th:block th:include="/menu/menu_rights"></th:block>  
                
                
                <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-10">
                    
                    <br>
                    <form action="/newTask">
                        <button class="btn btn-outline-secondary" type="submit">Создать задачу</button>
                    </form>
                    <br>
                    <ul class="nav nav-tabs">
                        <!-- th:each ="TypeTask: ${TypeTask}"  th:utext="${TypeTask.name}" th:value="${TypeTask.id} -->
                        <li class="nav-item" th:each ="OneTypeTask: ${OneTypeTask}" >
                            <a class="nav-link active" href="#">
                                <label th:utext="${OneTypeTask.tapetask.name}"></label>
                                <span class="badge badge-dark" th:utext="${OneTypeTask.count}">...</span>
                            </a>
                        </li>
                        <li class="nav-item" th:each ="TypeTask: ${TypeTask}" >
                            <a class="nav-link"  th:href="@{/KanbanDoskaPage(id=${TypeTask.tapetask.id})}">
                                <label th:utext="${TypeTask.tapetask.name}"></label>
                                <span class="badge badge-dark" th:utext="${TypeTask.count}">...</span>
                            </a>
                        </li>
                      </ul>
                    
                     <div class="form-group row">
                        <div class="col">
                          <label>В плане</label>
                          <!-- UI X -->
                            <div class="ui-57">
                                <div class="container">
                                    <!-- UI Item -->
                                    <div class="ui-item bg-yellow" th:each ="userTaskVPlan: ${userTaskVPlan}">
                                        <!-- Clip icon -->
                                        <i class="fa fa-paperclip"></i>
                                        <!-- Heading -->
                                        <h2 th:utext="${userTaskVPlan.idtask.name}">....</h2>
                                        <!-- Para -->
                                        <p th:utext="${userTaskVPlan.idtask.description}">...</p>
                                        <a rel="external" th:href="@{/detailedTaskPage(id=${userTaskVPlan.idtask.id})}" class="badge badge-info">Открыть</a>
                                        <a th:href="@{/deleteAttr(id=${userTaskVPlan.idtask.id})}" class="badge badge-danger">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                          <label>В работе</label>
                            <!-- UI X -->
                            <div class="ui-57">
                                <div class="container">
                                    <!-- UI Item -->
                                    <div class="ui-item bg-lblue" th:each ="TaskVRabote: ${TaskVRabote}">
                                        <!-- Clip icon -->
                                        <i class="fa fa-paperclip"></i>
                                        <!-- Heading -->
                                        <h2 th:utext="${TaskVRabote.idtask.name}">....</h2>
                                        <!-- Para -->
                                        <p th:utext="${TaskVRabote.idtask.description}">...</p>
                                        <a rel="external" th:href="@{/detailedTaskPage(id=${TaskVRabote.idtask.id})}" class="badge badge-info">Открыть</a>
                                        <a th:href="@{/deleteAttr(id=${TaskVRabote.idtask.id})}" class="badge badge-danger">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                          <label>Другое</label>
                          <!-- UI X -->
                            <div class="ui-57">
                                <div class="container">
                                    <!-- UI Item -->
                                    <div class="ui-item bg-purple" th:each ="userTaskDrugoe: ${userTaskDrugoe}">
                                        <!-- Clip icon -->
                                        <i class="fa fa-paperclip"></i>
                                        <!-- Heading -->
                                        <h2 th:utext="${userTaskDrugoe.idtask.name}">....</h2>
                                        <!-- Para -->
                                        <p th:utext="${userTaskDrugoe.idtask.description}">...</p>
                                        <a rel="external" th:href="@{/detailedTaskPage(id=${userTaskDrugoe.idtask.id})}" class="badge badge-info">Открыть</a>
                                        <a th:href="@{/deleteAttr(id=${userTaskDrugoe.idtask.id})}" class="badge badge-danger">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                          <label>Закрыто</label>
                          <!-- UI X -->
                            <div class="ui-57">
                                <div class="container">
                                    <!-- UI Item -->
                                    <div class="ui-item bg-green" th:each ="userTaskClose: ${userTaskClose}">
                                        <!-- Clip icon -->
                                        <i class="fa fa-paperclip"></i>
                                        <!-- Heading -->
                                        <h2 th:utext="${userTaskClose.idtask.name}">....</h2>
                                        <!-- Para -->
                                        <p th:utext="${userTaskClose.idtask.description}">...</p>
                                        <a rel="external" th:href="@{/detailedTaskPage(id=${userTaskClose.idtask.id})}" class="badge badge-info">Открыть</a>
                                        <a th:href="@{/deleteAttr(id=${userTaskClose.idtask.id})}" class="badge badge-danger">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<h2>User Info Page</h2>
                    <h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
                    <b>This is protected page!</b>  
                    <br/><br/>
                    <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
                    <div th:if="${provRole != null}" th:utext="${provRole}"></div>
                    -->
                </div>       
            </div>   
        </div>
        
        
    </body>
</html>